[
	{
		"key": "dbln",
		"value": "%7B%22100092045916754%22%3A%22WWYzwAfS%22%7D",
		"domain": "facebook.com",
		"path": "/login/device-based/",
		"hostOnly": false,
		"creation": "2025-05-02T09:24:11.207Z",
		"lastAccessed": "2025-05-02T09:24:11.207Z"
	},
	{
		"key": "datr",
		"value": "Go4UaDWKyPbzXq8BoY0i3Whh",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2025-05-02T09:24:11.207Z",
		"lastAccessed": "2025-05-02T09:24:11.207Z"
	},
	{
		"key": "sb",
		"value": "Go4UaEuX_U9et3Pu7tZhvy2A",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2025-05-02T09:24:11.207Z",
		"lastAccessed": "2025-05-02T09:24:11.207Z"
	},
	{
		"key": "m_pixel_ratio",
		"value": "2.6386725902557373",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2025-05-02T09:24:11.207Z",
		"lastAccessed": "2025-05-02T09:24:11.207Z"
	},
	{
		"key": "wd",
		"value": "409x812",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2025-05-02T09:24:11.207Z",
		"lastAccessed": "2025-05-02T09:24:11.207Z"
	},
	{
		"key": "c_user",
		"value": "100092045916754",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2025-05-02T09:24:11.207Z",
		"lastAccessed": "2025-05-02T09:24:11.207Z"
	},
	{
		"key": "fr",
		"value": "05rM9bKBizFy3SQBs.AWeIkfi8wuPgOfpzX5mC-_1-LD68_erMWsPRoY_mGi0ZHQY7atY.BoFI4a..AAA.0.0.BoFI6r.AWciKtJzJgogzMErwXl_If-3nAI",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2025-05-02T09:24:11.207Z",
		"lastAccessed": "2025-05-02T09:24:11.208Z"
	},
	{
		"key": "xs",
		"value": "36%3ACjLn557QDu3jIA%3A2%3A1746177711%3A-1%3A-1",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2025-05-02T09:24:11.208Z",
		"lastAccessed": "2025-05-02T09:24:11.208Z"
	},
	{
		"key": "locale",
		"value": "vi_VN",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2025-05-02T09:24:11.208Z",
		"lastAccessed": "2025-05-02T09:24:11.208Z"
	},
	{
		"key": "fbl_st",
		"value": "101523146%3BT%3A29102962",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2025-05-02T09:24:11.208Z",
		"lastAccessed": "2025-05-02T09:24:11.208Z"
	},
	{
		"key": "vpd",
		"value": "v1%3B812x409x2.6386725902557373",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2025-05-02T09:24:11.208Z",
		"lastAccessed": "2025-05-02T09:24:11.208Z"
	},
	{
		"key": "wl_cbv",
		"value": "v2%3Bclient_version%3A2803%3Btimestamp%3A1746177718%3BCRCM%3A188728312",
		"domain": "facebook.com",
		"path": "/",
		"hostOnly": false,
		"creation": "2025-05-02T09:24:11.208Z",
		"lastAccessed": "2025-05-02T09:24:11.208Z"
	}
]
